.swiper {
  width: 90%;
  margin: auto;
  height: 300px;
}
.swiper-slide {
  background-color: rgb(215, 253, 43);
}
.carousel-item > img {
  height: 470px;
}

@media (max-width: 800px) {
  .carousel-item > img {
    height: 300px;
  }
}
