.swiper {
  width: 90%;
  margin: auto;
  height: 300px;
}
.swiper-slide {
  background-color: rgb(53, 53, 53);
  text-align: center;
  color: aliceblue;
}
.carousel-item > img {
  height: 470px;
}

@media (max-width: 800px) {
  .carousel-item > img {
    height: 300px;
  }
}
